* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* main style */
header {
    background: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
    padding-top: 50px;

}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.banner {
    display: flex;
    margin: 46px 38px 0px 230px;
    max-width: 1332px;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}

.banner-content h1 {
    font-size: 85px;
    color: #181818;
    margin-top: 5px;
}

.banner-content p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.banner-img img {
    max-width: 584px;
    vertical-align: middle;
}

.about {
    margin-top: 130px;
}

.about-container {
    width: 71%;
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 0 auto;
    text-align: center;
    padding: 131px 157px;
}

.about-me h2 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.about-me p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.info-card h4 {
    font-size: 20px;
    color: #474747;
}

.work {
    margin-top: 130px;
}

.work-container {
    max-width: 1088px;
    margin: 0 auto;

}

.what-i-do {
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}

.what-i-do h2 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.what-i-do p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}

.knowledge {
    display: flex;
    gap: 24px;

}

.knowledge-card {
    padding: 30px;

}

.knowledge-card img {
    margin-bottom: 30px;

}

.knowledge-card h4 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;

}

.knowledge-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}